#tuit-input {
  padding-top: 10px;
}

#input-tuit-text-box {
  width: 85.5%;
  color: white;
  background-color: black;
  border: 0;
  margin-left: 10px;
}

#pfp {
  border-radius: 24px;
  width: 48px;
  height: 48px;
  margin-left: 32px;
  float: left;
}

#button-panel {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}

#left-buttons {
  padding-left: 93px;
}

.icon {
  width: 30px;
  color: rgb(97, 158, 209);
}

.btn {
  border-radius: 30px;
  float: right;
  margin-left: auto;
}