.fa-stack {
  margin: -4px -26px -4px -13px;
}
.card-img-overlay {
  color: white;
  top: auto;
}

.list-group-item {
  display: flex;
  align-items: center;
}

#search {
  border-radius: 25px;
}

.who-to-follow-img {
  border-radius: 50%;
}

.follow-btn {
  border-radius: 30px;
}

.who-to-follow-nick {
  font-weight: bold;
}

.gray-text {
  color: darkgray;
}

.logo {
  width: 1%;
}

p {
  margin-bottom: 0;
}

.for-you-img {
  border-radius: 15%;
}

#tuit-button {
  border-radius: 30px;
}

.fa-magnifying-glass {
  position: absolute;
  top: 2%;
}